//-------------------------------------------------------
//- Modules :: Footer
//-------------------------------------------------------

mixin footer()
  footer.footer
    .container
      .row
        .col-12.col-md-4.footer__column
          .logo
            a(href="#")
              img(src="images/logoo.png", alt="logo")
          .copyright shopy c 2015 . your copy right here
        .col-6.col-md-2.footer__column
          ul.info-list
            li
              a(href="#") about us
            li
              a(href="#") contact us
            li
              a(href="#") support
        .col-6.col-md-2.footer__column
          ul.info-list
            li
              a(href="#") our feed
            li
              a(href="#") term and conditions
            li
              a(href="#") our privacy
        .col-6.col-md-2.footer__column
          ul.info-list
            li
              a(href="#") join us
            li
              a(href="#") live support
        .col-6.col-md-2.footer__column
          .payment-method
            .payment-method__title Payment Methods
            ul.list-inline.payment-method__list
              each item, index in ["amex.jpg", "card.jpg", "visa.jpg", "paypent.jpg", "cash.jpg"]
                li.list-inline-item.payment-method__item
                  a(href="#")
                    img(src=`images/${item}`, alt="payment method")

                
