mixin sidebar(category, currentPage)
  nav.navbar.navbar__vertical.navbar-expand-md.navbar-light
    .navbar__content
      .navbar__menu#sidebarAccordion.js-navbar-menu-scrollbar
        +sidebarTop(menuTop.data, category, currentPage)
        h6.navbar__heading interfaces
        +sidebarTop(menuBottom.data, category, currentPage)
      .navbar__footer
        +buttons({text: 'Night mode', iconFont: 'fas fa-moon', isFull: 'true'})
