mixin sidebar(category, currentPage)
  nav.navbar.navbar__vertical.navbar-expand-md.navbar-light.js-sidebar-collapse
    .navbar__content
      .account-collapse.d-block.d-md-none
        button.account-collapse__button.collapsed(
          type="button"
          data-toggle="collapse"
          data-target="#account-collapse-dropdown"
          aria-expanded="false"
        )
          .user-avatar.user-avatar--lg
            img(src="images/profile.jpg", alt="user-account")
          .account-collapse__summary
            span.account-collapse__name Beni Arisandi
            span.account-collapse__position Marketing Manager
          .account-collapse__dropdown-icon
            span.fa.fa-caret-down
        .account-collapse__dropdown.collapse#account-collapse-dropdown
          a.dropdown-item(href="#")
            span.oi.oi-person.account-collapse__icon
            span Profile
          a.dropdown-item(href="#")
            spanoi.oi.oi-account-logout.account-collapse__icon
            span Logout
          .dropdown-divider
          a.dropdown-item(href="#") Help Center
          a.dropdown-item(href="#") Ask Forum
          a.dropdown-item(href="#") Keyboard Shortcuts
      .navbar__menu#sidebarAccordion.js-navbar-menu-scrollbar
        +sidebarTop(menuTop.data, category, currentPage)
        h6.navbar__heading interfaces
        +sidebarTop(menuBottom.data, category, currentPage)
      .navbar__footer
        +buttons({text: 'Night mode', iconFont: 'fas fa-moon', isFull: 'true'})
