// ======================================================
// Layout :: Footer
// ======================================================
// Start classname with prefix `l-`

.l-footer {
  color: green;
}
.looper-footer {
  .list-inline-item {
    & > a {
      &:hover {
        text-decoration: underline;
        color: $cl-gray;
      }
    }
  }
}
