// ======================================================
// Layout :: Header
// ======================================================
// Start classname with prefix `l-`

.l-header {
  color: green;
}
.header {
  padding-top: 25px;
  background-color: #fff;
}
.small-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__contact {
    margin-bottom: 0;
    .list-inline-item {

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
  &__icon {
    color: $cl-orange;
    font-size: $font-size-medium;
    margin-right: 8px;
  }
  &__text {
    font-size: 12px;
  }
  &__social-network {
    margin-bottom: 0;
    .list-inline-item {

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
  &__link {
    font-size: $font-size-medium;
    color: $cl-light-black;
    transition: color ease .3s;
    &:hover {
      color: $cl-orange;
    }
  }
}
.big-header {
  padding: 40px 0;
  .navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 0;
  }
  .navbar {
    padding: 0;
    .nav-item {
      &:not(:last-child) {
        margin-right: 40px;
      }
      &.active .nav-link {
        color: $cl-orange;
      }
    }
    .nav-link {
      padding: 0;
      font-size: 16px;
      color: $cl-light-black;
      &:hover {
        color: $cl-orange;
      }
    }
  }
  &__action {
    .list-inline {
      margin-bottom: 0;
    }
  }
}
.search {
  &__button {
    &:hover {
      i {
        color: $cl-orange;
      }
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    i {
      color: $cl-light-black;
      font-size: $font-size-large;
    }
  }
}
.profile {
  &__button {
    color: $cl-light-black;
    font-size: $font-size-large;
    &:hover {
      color: $cl-orange;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:after {
      content: none;
    }
  }
}
.cart {
  &__link {
    position: relative;
    font-size: $font-size-large;
    display: inline-block;
    padding: 0 12px;
    i {
      color: $cl-orange;
      font-size: $font-size-large;
    }
  }
  &__amount {
    position: absolute;
    display: inline-block;
    top: -4px;
    right: 2px;
    font-size: $font-size-small;
    width: 18px;
    height: 18px;
    background-color: $cl-black;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }
}
