// ======================================================
// Layout :: Sidebar
// ======================================================
.navbar-expand-md {
  .navbar-nav {
    flex-direction: column;
  }
}

.navbar {
  &__heading {
    margin-top: 16px;
    margin-bottom: 0;
    padding: 8px 16px;
    letter-spacing: 0;
    line-height: 20px;
    color: $cl-gray;
    font-size: 13px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  &__footer {
    padding: 16px;
    border-top: 1px solid rgba(34, 34, 48, .1);
    .button {
      color: $cl-dark-blue;
      transition: background-color .3s;
      i {
        margin-left: 8px;
      }
      &:hover {
        background-color: $cl-light-gray;
        color: $cl-dark-blue;
        border-color: $cl-light-gray;
        box-shadow: none;
      }
    }
  }
  &__vertical {
    background-color: $bg-light-gray;
    position: fixed;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgba(20, 20, 31, .05);
    top: 56px;
    width: 240px;
    z-index: 5;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__menu {
    position: relative;
    flex: 1;
    padding-top: 16px;
    width: 100%;
  }
  &__menu > .navbar-nav > .nav-item.active {
    & > .nav-link {
      color: #222230;
      font-weight: 400;
    }
    & > .nav-link:hover {
      color: #222230;
      font-weight: 400;
    }
  }
}

.navbar-nav {
  .nav-item {
    &.submenu {
      & > .nav-link:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 12px;
        margin-top: -.375rem;
        opacity: .4;
        height: 14px;
        width: 14px;
        transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
        background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='currentColor' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/></svg>") 50% no-repeat;
      }

      & > .nav-link[data-toggle='collapse'][aria-expanded='true']:after {
        transform: rotate(90deg);
      }
    }

    &.active {
      & > .nav-link {
        color: $cl-dark-blue;
        font-weight: $font-weight-bold;
      }

      .nav-icon {
        color: $cl-dark-blue;
      }

      & > .nav-link:hover {
        color: $cl-dark-blue;
      }
      & > .nav-link:hover .nav-icon {
        color: $cl-dark-blue;
      }
    }

    & > .nav-link {
      position: relative;
      display: block;
      padding: 6px 16px;
      color: $bg-light-black;

      & > .badge {
        position: absolute;
        right: 28px;
        margin-top: 2px;
        padding: 4px 6px;
        font-size: 80%;
      }
    }
    & > .nav-link:hover {
      color: $bg-light-black;
      .nav-icon {
        color: $cl-gray;
      }
    }
    & > .nav-link:focus {
      color: $bg-light-black;
      .nav-icon {
        color: $cl-gray;
      }
    }

    .nav-icon {
      width: 23px;
      margin-right: 12px;
      text-align: center;
      font-size: 18px;
      color: $cl-xlight-gray;
      transition: color .3s;
    }
  }

  .nav .nav-item {
    .nav-link {
      padding: 6px 16px 6px 52px;
      line-height: 20px;
      transition: color .3s;
      color: $cl-gray;
    }

    .nav-link[data-toggle='collapse'][aria-expanded='true'] {
      color: $cl-dark-blue;
    }

    .nav-link:hover {
      color: $cl-dark-blue;
    }

    .nav-link.active {
      font-weight: $font-weight-bold;
      color: $cl-dark-blue;
    }
  }

  .nav .nav .nav-item {
    .nav-link {
      padding: 6px 16px 6px 68px;
      line-height: 20px;
      transition: color .3s;
      color: $cl-gray;
    }

    .nav-link:hover {
      color: $cl-dark-blue;
    }

    .nav-link.active {
      font-weight: $font-weight-bold;
      color: $cl-dark-blue;
    }
  }
}
