// ======================================================
// Base :: Colors
// ======================================================
.cl {
  &--orange {
    color: $cl-orange;
  }
  &--indigo {
    color: $cl-green;
  }
  &--purple {
    color: $cl-green;
  }
  &--teal {
    color: $cl-green;
  }
  &--light {
    color: $cl-green;
  }
  &--red {
    color: $cl-green;
  }
}
