// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: 1.2;
  color: $cl-light-black;
  background-color: $bg-body;

  @include breakpoint-down(phone) {
    font-size: $font-size-medium;
  }
}

img {
  vertical-align: middle;
}

a {
  color: $cl-black;
  transition: all ease .3s;
  &:hover,
  &:focus,
  &:active {
    color: $cl-orange;
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.circle {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $cl-light-black;

  &--sm {
    width: 8px;
    height: 8px;
  }

  &--red {
    background-color: $cl-red;
    border-color: $cl-red;
  }

  &--blue {
    background-color: $cl-blue;
  }

  &--orange {
    background-color: $cl-orange;
  }

  &--green {
    background-color: $cl-green;
  }
}
