// ======================================================
// Base :: Typography
// ======================================================
.text {
  &--muted {
    color: $cl-gray;
  }

  &--red {
    color: $cl-light-red;
  }
  &--gray {
    color: $cl-light-gray;
  }
  &--primary {
    color: $cl-dark-blue;
  }
  &--small {
    font-size: 80%;
    font-weight: 400;
  }
}
