// ======================================================
// Base :: Typography
// ======================================================
.text {
  &--muted {
    color: #888c9b;
  }

  &--red {
    color: #ea6759;
  }

  &--small {
    font-size: 80%;
    font-weight: 400;
  }
}
