// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
// >> Font-family
$font-family-base : 'Fira Sans', sans-serif;
// >> Color
$cl-white       : #fff;
$cl-dark-blue   : #346cb0;
$cl-light-blue  : #015e82;
$cl-green       : #007c69;
$cl-red         : #f05151;
$cl-orange      : #f5b548;
$cl-purple      : #a95292;
$cl-gray        : #e6e8ed;
$cl-light-gray  : #f6f7f9;
$cl-dark-gray   : #363642;
// >> Font-size
$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;
// >> Box shadow
$bsh-primary : rgba(255, 107, 0, .2);
$bsh-secondary : rgba(0, 0, 0, .1);

// >> Font-weight
$font-weight-light  : 300;
$font-weight-base   : 400;
$font-weight-xbase  : 500;
$font-weight-bold   : 600;

// Borders
$border-radius-small : 2px;
$border-radius-base  : 4px;
$border-radius-medium: 8px;

// z-index
$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);
