//-------------------------------------------------------
//- Styleguides :: Checkbox
//-------------------------------------------------------
h2 Checkbox
.row
  .col-6
    .code-example
      .demo
        form.form-custom
          +group-input-checkbox({ name: 'checkbox', id: 'checkbox1', label: 'checkbox label 1', checked: true})
          +group-input-checkbox({ name: 'checkbox', id: 'checkbox2', label: 'checkbox label 2'})
          +group-input-checkbox({ name: 'checkbox', id: 'checkbox3', label: 'checkbox label 3', disabled: true})
      pre
        code
          |form.form-custom
          |  +group-input-checkbox({
          |    name: 'checkbox',
          |    id: 'checkbox1',
          |    label: 'checkbox label 1',
          |    checked: true
          |  })
          |  +group-input-checkbox({
          |    name: 'checkbox',
          |    id: 'checkbox2',
          |    label: 'checkbox label 2',
          |  })
          |  +group-input-checkbox({
          |    name: 'checkbox',
          |    id: 'checkbox3',
          |    label: 'checkbox label 3',
          |    disabled: true
          |  })
  .col-6
    .code-example
      .demo
        form.form-custom
          +group-input-checkbox({ name: 'checkbox', id: 'checkbox4', checked: true})(class='input-checkbox-custom--no-label')
          +group-input-checkbox({ name: 'checkbox', id: 'checkbox5'})(class='input-checkbox-custom--no-label')
          +group-input-checkbox({ name: 'checkbox', id: 'checkbox6', disabled: true})(class='input-checkbox-custom--no-label')
      pre
        code
          |form.form-custom
          |  +group-input-checkbox({
          |    name: 'checkbox',
          |    id: 'checkbox4',
          |    checked: true
          |  })(class='input-checkbox-custom--no-label')
          |  +group-input-checkbox({
          |    name: 'checkbox',
          |    id: 'checkbox5',
          |  })(class='input-checkbox-custom--no-label')
          |  +group-input-checkbox({
          |    name: 'checkbox',
          |    id: 'checkbox6',
          |    disabled: true
          |  })(class='input-checkbox-custom--no-label')
