//-------------------------------------------------------
//- Styleguides :: Colors
//-------------------------------------------------------

-
  var colors = [
    { key: '$cl-white', color: '#fff' },
    { key: '$cl-dark-blue', color: '#346cb0' },
    { key: '$cl-light-blue', color: '#015e82' },
    { key: '$cl-green', color: '#007c69' },
    { key: '$cl-red', color: '#f05151' },
    { key: '$cl-orange', color: '#f5b548' },
    { key: '$cl-purple', color: '#a95292' },
    { key: '$cl-gray', color: '#e6e8ed' },
    { key: '$cl-dark-gray', color: '#363642' },
    { key: '$cl-dark-gray', color: '#e43e2c' },
  ];
.row
  each val in colors
    .col-4
      .code-example
        .demo(style=`background-color: ${val.color}; width: 100%; height: 100px`)
        pre
          code
            | #{val.key}: #{val.color}
