//-------------------------------------------------------
//- Styleguides :: Selectbox
//-------------------------------------------------------
h2 Selecbox
.row
  .col-6
    .code-example
      .demo
        form.form-customize
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];
          +selectbox({ id: 'member', options: options })
      pre
        code
          |form.form-customize
          | -
          |   var options = [
          |     { value: 'owner', display: 'Owner' },
          |     { value: 'member', display: 'Member' },
          |     { value: 'viewer', display: 'Viewer' },
          |     { value: 'non-member', display: 'Non-member' }
          |   ];
          | +selectbox({
          |   id: 'member',
          |   options: options
          | })
  .col-6
    .code-example
      .demo
        form.form-customize
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];
          +selectbox({ id: 'member', disabled: 'disabled', options: options })
      pre
        code
          |form.form-customize
          | -
          |   var options = [
          |     { value: 'owner', display: 'Owner' },
          |     { value: 'member', display: 'Member' },
          |     { value: 'viewer', display: 'Viewer' },
          |     { value: 'non-member', display: 'Non-member' }
          |   ];
          | +selectbox({
          |   id: 'member',
          |   disabled: 'disabled',
          |   options: options
          | })
  .col-6
    .code-example
      .demo
        form.form-customize
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];
          +group-selectbox({ id: 'member', label: 'Employee', require: true, options: options })
      pre
        code
          |form.form-customize
          |  -
          |    var options = [
          |      { value: 'owner', display: 'Owner' },
          |      { value: 'member', display: 'Member' },
          |      { value: 'viewer', display: 'Viewer' },
          |      { value: 'non-member', display: 'Non-member' }
          |    ];
          |  +group-selectbox({
          |    id: 'member',
          |    label: 'Employee',
          |    require: true,
          |    options: options
          |  })
  .col-6
    .code-example
      .demo
        form.form-customize
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];
          +group-selectbox({ id: 'member', label: 'Employee', disabled: 'disabled', options: options })
      pre
        code
          |form.form-customize
          |  -
          |    var options = [
          |      { value: 'owner', display: 'Owner' },
          |      { value: 'member', display: 'Member' },
          |      { value: 'viewer', display: 'Viewer' },
          |      { value: 'non-member', display: 'Non-member' }
          |    ];
          |  +group-selectbox({
          |    id: 'member',
          |    label: 'Employee',
          |    options : options
          |  })
  .col-6
    .code-example
      .demo
        form.form-customize
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];
          +group-selectbox({ id: 'member', label: 'Employee', isValid: true, options: options })
      pre
        code
          |form.form-customize
          |  -
          |    var options = [
          |      { value: 'owner', display: 'Owner' },
          |      { value: 'member', display: 'Member' },
          |      { value: 'viewer', display: 'Viewer' },
          |      { value: 'non-member', display: 'Non-member' }
          |    ];
          |  +group-selectbox({
          |    id: 'member',
          |    label: 'Employee',
          |    options: options 
          |  })
  .col-6
    .code-example
      .demo
        form.form-customize
          -
            var options = [
              { value: 'owner', display: 'Owner' },
              { value: 'member', display: 'Member' },
              { value: 'viewer', display: 'Viewer' },
              { value: 'non-member', display: 'Non-member' }
            ];
          +group-selectbox({ id: 'member', label: 'Employee', isInvalid: true, noticeError: 'Please select your state.', options: options })
      pre
        code
          |form.form-customize
          |  -
          |    var options = [
          |      { value: 'owner', display: 'Owner' },
          |      { value: 'member', display: 'Member' },
          |      { value: 'viewer', display: 'Viewer' },
          |      { value: 'non-member', display: 'Non-member' }
          |    ];
          |  +group-selectbox({
          |    id: 'member',
          |    label: 'Employee',
          |    options: options 
          |  })
h2 Select Size
-
  selectSize = ['small', 'default', 'large'];
.row
  each item, index in selectSize
    .col-6
      .code-example
        .demo
          form.form-customize
            -
              var options = [
                { value: 'owner', display: 'Owner' },
                { value: 'member', display: 'Member' },
                { value: 'viewer', display: 'Viewer' },
                { value: 'non-member', display: 'Non-member' }
              ];
            +group-selectbox({ id: 'member', size: item, options: options })
        pre
          code
            |form.form-customize
            |  -
            |    var options = [
            |      { value: 'owner', display: 'Owner' },
            |      { value: 'member', display: 'Member' },
            |      { value: 'viewer', display: 'Viewer' },
            |      { value: 'non-member', display: 'Non-member' }
            |    ];
            |  +group-selectbox({
            |    id: 'member',
            |    options: options 
            |  })
