//-------------------------------------------------------
//- Styleguides :: Selectbox
//-------------------------------------------------------
h2 Selecbox
.row
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            options: options
          })
      pre
        code
          |form.form-custom
          | -
          |   var options = [
          |     { display: 'Choose...', selected: true},
          |     { value: 'United States', display: 'United States' },
          |     { value: 'Enland', display: 'England' },
          |   ];
          | +group-selectbox({
          |   id: 'country',
          |   options: options
          | })
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            disabled: 'disabled',
            options: options
          })
      pre
        code
          |form.form-custom
          | -
          |   var options = [
          |     { display: 'Choose...', selected: true},
          |     { value: 'United States', display: 'United States' },
          |     { value: 'Enland', display: 'England' },
          |   ];
          | +group-selectbox({
          |   id: 'country',
          |   disabled: 'disabled',
          |   options: options
          | })
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            label: 'Country',
            options: options
          })
      pre
        code
          |form.form-custom
          |  -
          |    var options = [
          |      { display: 'Choose...', selected: true},
          |      { value: 'United States', display: 'United States' },
          |      { value: 'Enland', display: 'England' },
          |    ];
          |  +group-selectbox({
          |    id: 'country',
          |    label: 'Country',
          |    options: options
          |  })
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            label: 'Country',
            disabled: 'disabled',
            options: options
          })
      pre
        code
          |form.form-custom
          |  -
          |    var options = [
          |      { display: 'Choose...', selected: true},
          |      { value: 'United States', display: 'United States' },
          |      { value: 'Enland', display: 'England' },
          |    ];
          |  +group-selectbox({
          |    id: 'country',
          |    label: 'Country',
          |    disabled: 'disabled',
          |    options : options
          |  })
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            label: 'Country',
            isValid: true,
            options: options
          })
      pre
        code
          |form.form-custom
          |  -
          |    var options = [
          |      { display: 'Choose...', selected: true},
          |      { value: 'United States', display: 'United States' },
          |      { value: 'Enland', display: 'England' },
          |    ];
          |  +group-selectbox({
          |    id: 'country',
          |    label: 'Country',
          |    isValid: true,
          |    options: options 
          |  })
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            label: 'Country',
            isInvalid: true,
            noticeError: 'Please select your state.',
            iconError: 'fa fa-exclamation-circle fa-fw',
            options: options
          })
      pre
        code
          |form.form-custom
          |  -
          |    var options = [
          |      { display: 'Choose...', selected: true},
          |      { value: 'United States', display: 'United States' },
          |      { value: 'Enland', display: 'England' },
          |    ];
          |  +group-selectbox({
          |    id: 'country',
          |    label: 'Country',
          |    isInvalid: true,
          |    noticeError: 'Please select your state.',
          |    iconError: 'fa fa-exclamation-circle fa-fw',
          |    options: options 
          |  })
h2 Select Size
-
  selectSize = ['small', 'medium','large'];
.row
  each item, index in selectSize
    .col-6
      .code-example
        .demo
          form.form-custom
            -
              var options = [
                { display: 'Choose...', selected: true},
                { value: 'United States', display: 'United States' },
                { value: 'Enland', display: 'England' },
              ];
            +group-selectbox({
              id: 'country',
              size: item,
              options: options
            })
        pre
          code
            |form.form-custom
            |  -
            |    var options = [
            |      { display: 'Choose...', selected: true},
            |      { value: 'United States', display: 'United States' },
            |      { value: 'Enland', display: 'England' },
            |    ];
            |  +group-selectbox({
            |    id: 'country',
            |    size: #{item},
            |    options: options 
            |  })
h2 Select floating label
.row
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            label: 'Country',
            size: item,
            options: options
          })(class= 'form-customize--nesting')
      pre
        code
          |form.form-custom
          |  -
          |    var options = [
          |      { display: 'Choose...', selected: true},
          |      { value: 'United States', display: 'United States' },
          |      { value: 'Enland', display: 'England' },
          |    ];
          |  +group-selectbox({
          |    id: 'country',
          |    label: 'Country',
          |    size: #{item},
          |    options: options 
          |  })(class= 'form-customize--nesting')
  .col-6
    .code-example
      .demo
        form.form-custom
          -
            var options = [
              { display: 'Choose...', selected: true},
              { value: 'United States', display: 'United States' },
              { value: 'Enland', display: 'England' },
            ];
          +group-selectbox({
            id: 'country',
            label: 'Country',
            disabled: 'disabled',
            options: options
          })(class= 'form-customize--nesting')
      pre
        code
          |form.form-custom
          |  -
          |    var options = [
          |      { display: 'Choose...', selected: true},
          |      { value: 'United States', display: 'United States' },
          |      { value: 'Enland', display: 'England' },
          |    ];
          |  +group-selectbox({
          |    id: 'country',
          |    label: 'Country',
          |    disabled: 'disabled',
          |    options: options 
          |  })(class= 'form-customize--nesting')
