// // ======================================================
// // Pages :: Home
// // ======================================================

.main-carousel {
  .carousel-indicators {
    margin-bottom: 30px;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 20%;
    bottom: 20px;
    z-index: 10;
    transform: translate(0, -50%);

    @include breakpoint-down('tablet') {
      top: 45%;
    }

    @include breakpoint-down('phone') {
      left: 10%;
    }
  }

  &__title {
    font-size: 52px;
    font-weight: 700;
    color: $cl-orange;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: .8;

    @include breakpoint-down('tablet') {
      font-size: 40px;
    }

    @include breakpoint-down('phone') {
      font-size: 25px;
    }
  }

  &__product {
    font-size: 18px;
    line-height: .6;
    margin-bottom: 16px;

    @include breakpoint-down('phone') {
      font-size: 14px;
    }
  }

  &__desc {
    margin-bottom: 60px;

    @include breakpoint-down('tablet') {
      margin-bottom: 50px;
    }

    @include breakpoint-down('phone') {
      font-size: 12px;
      margin-bottom: 25px;
    }
  }

  &__inner {
    font-size: 18px;

    @include breakpoint-down('phone') {
      font-size: 14px;
    }
  }

  &__order {
    margin-left: 30px;
    color: $cl-orange;

    i {
      margin-right: 8px;
    }
  }

  .carousel-item {
    img {
      display: block;
      max-width: 100%;
      object-fit: cover;
      height: auto;
      width: 100%;
    }
  }
}

.cl-orange {
  color: $cl-orange;
}

.product {
  $product: &;

  padding: 30px 20px;
  text-align: center;
  border: none;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  &__image {
    margin-bottom: 30px;
    padding: 0 30px;
    width: 100%;
    height: 220px;
    transition: transform ease .3s;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      transition: transform ease .3s;
      display: block;
      object-fit: contain;
    }

    @include breakpoint-down(tablet) {
      padding: 0 60px;
    }
  }
  .card-body {
    padding: 0;
  }

  &__title {
    margin-bottom: 30px;

    a {
      font-size: 18px;
      color: $cl-black;
    }
  }

  &__price {
    font-size: 18px;
    color: $cl-orange;
  }

  &__summary {
    position: absolute;
    width: 100%;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform ease .3s;
  }

  &__size {
    font-size: $font-size-base;
    margin-bottom: 30px;
  }

  &__color {
    margin-bottom: 0;
  }

  &__devider {
    margin: 30px 50px;
    border-color: $cl-gray;
  }

  &__action {
    margin-bottom: 0;
    .list-inline-item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__icon-link {
    color: $cl-light-black;
    transition: color ease .3s;
    font-size: $font-size-medium;
    &:hover {
      color: $cl-orange;
    }
  }

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    #{$product}__image {
      img {
        transform: scale(.5, .5) translateY(-50%);
      }
    }

    #{$product}__title {
      a {
        color: $cl-orange;
      }
    }

    .card-body {
      #{$product}__title {
        opacity: 0;
      }
    }

    #{$product}__price {
      opacity: 0;
    }

    #{$product}__summary {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.load-more {
  height: 60px;
  line-height: 60px;
  background-color: $cl-white;
  display: flex;
  justify-content: center;

  .list-inline-item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.advertisment-section {
  .banner {
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid darken($cl-gray, 3%);
    }

    @include breakpoint-down(smallphone) {
      flex-grow: initial;
      flex-shrink: initial;
      flex-basis: initial;
    }
  }
}

.best-sales {
  padding: 120px 0;
  &__header {
    text-align: center;
  }
  &__heading {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 30px;
    color: $cl-black;
  }
  &__desc {
    margin-bottom: 80px;
  }
}

.product-sales {
  $sales: &;

  border: none;
  padding: 35px 30px;
  border-radius: 0;
  transition: all ease .3s;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);

    #{$sales}__info {
      opacity: 0;
    }

    #{$sales}__add-cart {
      transform: translateY(0);
    }
  }
  .card-body {
    padding: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 90px;
    height: 90px;
    margin-right: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__content {
    overflow: hidden;
    position: relative;
  }

  &__info {
    display: flex;
    transition: all ease .3s;
  }

  &__price {
    margin-left: auto;
    color: $cl-orange;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  &__add-cart {
    width: 100%;
    transform: translateY(100%);
    transition: all ease .3s;
    position: absolute;
    left: 0;
    bottom: 0;

    a {
      display: block;
      color: $cl-orange;
      text-align: center;
    }
  }

  &__icon {
    font-size: 16px;
    margin-right: 10px;
  }
}

.rating {
  color: $cl-orange;
  i {
    margin-right: 4px;
    &:last-child {
      color: $cl-gray;
    }
  }
}
