// ======================================================
// Pages :: Home
// ======================================================
@keyframes pulse {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 2.5s ease infinite;
}
.main-content {
  margin-left: 240px;
  padding-top: 56px;
  width: calc(100% - 240px);
  &__inner {
    padding: 24px 32px;
  }
  &__header {
    margin-bottom: 24px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }
}
.intro {
  &__greeting {
    font-weight: 600;
  }
  &__content {
    color: #888c9b;
  }
}
.statistics {
  margin-top: 32px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border: 1px solid #d6d8e1;
    border-radius: 4px;
  }
  &__item {
    text-align: center;
    flex: 1;
    flex-basis: 0;
    max-width: 100%;
    border-right: 1px solid #d6d8e1;
    &:last-of-type {
      border-right: 0;
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 136px;
  }
  &__name {
    font-size: 14px;
    font-weight: 500;
    color: #888c9b;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &__value {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 14px;
    color: #a6abbd;
    line-height: 28px;
  }
  &__metric {
    margin-left: 8px;
    font-size: 28px;
    line-height: 1;
    color: #222230;
    font-weight: 600;
  }
}
.ongoing-tasks {
  width: 100%;
  border: 1px solid #d6d8e1;
  border-radius: 4px;
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    min-height: 136px;
  }
  &__value {
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: 14px;
    color: #a6abbd;
    line-height: 28px;
  }
  &__metric {
    margin-left: 8px;
    font-size: 28px;
    line-height: 1;
    color: #222230;
    font-weight: 600;
  }
  &__status {
    white-space: nowrap;
    color: #fff;
    background-color: #00a28a;
    padding: 6px 8px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1;
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
  }
  &__content {
    margin-left: 6px;
    font-weight: 600;
  }
}
.tasks-performance {
  &__content {
    position: relative;
    min-height: 131px;
  }
  &__chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
