// ======================================================
// Pages :: Home
// ======================================================
@keyframes pulse {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes chartjs-render-animation {
  from {
    opacity: .99;
  }

  to {
    opacity: 1;
  }
}

@keyframes progressAnimated {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.pulse {
  animation: pulse 2.5s ease infinite;
}
.main-content {
  margin-left: 240px;
  padding-top: 56px;
  width: calc(100% - 240px);

  &__inner {
    padding: 24px 32px;

    @include breakpoint-down(tablet) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  &__header {
    margin-bottom: 24px;
    font-size: 20px;
    display: flex;
    .dropdown {
      margin-left: auto;
    }

    @include breakpoint-down(phone) {
      flex-direction: column;
    }
  }

  @include breakpoint-down(phone) {
    margin-left: 0;
    width: 100%;
  }
}

.intro {
  &__greeting {
    font-weight: $font-weight-bold;
  }

  &__content {
    color: $cl-gray;
  }
}

.statistics {
  $statistics: &;

  margin-bottom: 20px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: 4px;
    margin: 8px 0;
  }

  &__item {
    max-width: 100%;
    flex: 1;
  }
  &__item:first-of-type {
    #{$statistics}__link {
      border-left: 1px solid #d6d8e1;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  &__item:last-of-type {
    #{$statistics}__link {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  &__link {
    display: flex;
    min-height: 8.5rem;
    position: relative;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    border-top: 1px solid #d6d8e1;
    border-right: 1px solid #d6d8e1;
    border-bottom: 1px solid #d6d8e1;
  }
  &__name {
    font-size: .875rem;
    font-weight: 500;
    color: #888c9b;
    white-space: nowrap;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__value {
    margin-bottom: 0;
    line-height: 1;
    white-space: nowrap;
  }
  &__icon {
    color: #a6abbd;
    font-size: 14px;
    margin-right: 7px;
    position: relative;
    top: 4px;
  }
  &__metric {
    vertical-align: middle;
    font-size: 28px;
    font-weight: 600;
    color: #363642;
  }
}
.ongoing-tasks {
  width: 100%;
  margin: 8px 0;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    min-height: 136px;
    flex-grow: 1;
    border: 1px solid #d6d8e1;
    border-radius: 4px;
  }

  &__value {
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 1;
  }

  &__icon {
    font-size: 14px;
    color: $cl-xlight-gray;
    line-height: 28px;
  }

  &__metric {
    margin-left: 8px;
    font-size: 28px;
    line-height: 1;
    color: $bg-light-black;
    font-weight: $font-weight-bold;
  }

  &__status {
    position: relative;
    white-space: nowrap;
    color: $cl-white;
    background-color: $cl-green;
    padding: 6px 8px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1;
    top: -8px;
    border-radius: 4px;
  }

  &__content {
    margin-left: 6px;
    font-weight: $font-weight-bold;
  }
}

.completion-tasks {
  padding: 16px;
  border-radius: 4px;
  background-color: $cl-white;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  &__chart {
    animation: chartjs-render-animation .1s;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: $font-weight-bold;
  }

  &__content {
    height: 292px;
  }
}

.tasks-performance {
  padding: 16px;
  border-radius: 4px;
  background-color: $cl-white;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  &__title {
    font-size: 16px;
    margin-bottom: 32px;
    font-weight: $font-weight-bold;
  }

  &__content {
    position: relative;
    min-height: 131px;
    height: 214px;
    margin-bottom: 16px;
  }

  &__chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__legends {
    margin: 0 -16px;
    padding: 0 16px;
    display: flex;
    align-items: stretch;
    border-top: 1px solid rgba(20, 20, 31, .12);
  }

  &__legend {
    text-align: center;
    flex: 1;
    padding: 16px 16px 0 16px;
  }

  &__percent {
    i {
      width: 24px;
      text-align: center;
    }
  }

  &__status {
    font-size: 80%;
    color: $cl-gray;
  }
}

.leaderboard {
  padding: 16px 16px 12px 16px;
  border-radius: 4px;
  background-color: $cl-white;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  &__title {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: $font-weight-bold;
  }

  &__legends {
    display: flex;
    margin-bottom: 16px;
  }

  &__legend {
    align-items: stretch;
    text-align: center;
    font-size: 11px;
    margin-right: 14px;
  }

  &__icon {
    width: 16px;
    text-align: left;
  }
}

.member {
  display: flex;
  align-items: stretch;
  padding: 12px 0;
  border: 1px solid transparent;

  &:last-of-type {
    padding-bottom: 0;
  }

  &__avatar {
    margin-right: 16px;
  }

  &__link {
    margin-bottom: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  &__progresses {
    flex: 1;
    align-self: center;
  }

  &__progress-group {
    border-radius: 0;
    background: transparent;
    animation: progressAnimated 1s;
  }
}


.active-projects {
  border: none;
  box-shadow:
    0 0 0 1px rgba(20, 20, 31, .05),
    0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  .card-header {
    background: transparent;
    padding: 16px;
    font-weight: 600;
  }
  .card-body {
    padding: 0 0 20px 0;
  }
  .list-group-item {
    display: flex;
    border-color: transparent;
    padding: 12px 16px;
  }
  &__figure {
    margin-right: 16px;
    display: flex;
    align-items: center;
  }
  &__content {
    flex: 1;
    align-self: center;
    font-size: 14px;
    .card-title {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 600;
    }
    .card-title a {
      color: inherit;
    }
    .card-subtitle {
      font-size: 12px;
      color: #888c9b;
      margin-bottom: 4px;
    }
  }
}
.avatar-group {
  position: relative;
  display: inline-block;
  .user-avatar {
    line-height: 1.25;
    border: 3px solid #fff;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate3d(-50%, 0, 0);
    cursor: pointer;
  }
}

.progress {
  &--xs {
    height: 3px;
  }
}
.active-tasks {
  border: none;
  box-shadow:
    0 0 0 1px rgba(20, 20, 31, .05),
    0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  .card-header {
    background: transparent;
    padding: 16px;
    font-weight: 600;
  }
  .card-body {
    padding: 16px;
  }
  .todo-header {
    &:first-of-type {
      padding-top: 0;
    }
  }
  .card-footer {
    padding: 0;
    background: transparent;
    a {
      display: block;
      padding: 16px;
      text-align: center;
      color: #346cb0;
      line-height: 1.5;
    }
    .fa {
      margin-left: 4px;
    }
  }
}
.todo-header {
  padding: 16px 0;
  font-size: 12px;
  font-weight: 600;
  color: #888c9b;
}
.todo {
  align-items: center;
  display: flex;
  min-height: 36px;
  transition: background-color .3s;
  border-radius: 4px;
  &:hover {
    background-color: #f6f7f9;
  }
  .input-checkbox-custom {
    padding-left: 32px;
    flex: 1;
  }
  label {
    display: block;
    &:before {
      left: -32px;
    }
    &:after {
      left: -32px;
    }
  }
}
.looper-footer {
  margin: 24px 0;
  padding: 0 16px;
  text-align: center;
}

.time-filter {
  position: relative;
  .dropdown-arrow-right {
    left: auto;
    right: 1rem;
  }
  .dropdown-menu {
    top: auto;
    right: 0;
    left: auto;
    margin-top: 9px;
    min-width: 18rem;
    border: 0;
    font-weight: 400;
    box-shadow:
      0 0 0 1px rgba(20, 20, 31, .05),
      0 2px 7px 1px rgba(20, 20, 31, .16);
    animation-duration: .2s;
    animation-fill-mode: both;
    font-size: .875rem;
    & > .input-radio-dropdown {
      margin-bottom: 0;
      padding: .5rem 1rem .5rem 1.5rem;
    }
    .label-radio {
      margin: 0;
      &__time {
        color: #888c9b;
      }
    }
  }
}
