// // ======================================================
// // Pages :: Products
// // ======================================================

.products-content {
  padding: 100px 0;
}

.categories {
  padding: 40px;
  background-color: $cl-white;
  margin-bottom: 30px;

  &__title {
    font-size: $font-size-large;
    color: $cl-orange;
    margin-bottom: 40px;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    a {
      &:hover {
        color: $cl-orange;
      }
    }
  }
}

.price-filter {
  padding: 40px;
  background-color: $cl-white;
  margin-bottom: 30px;

  &__title {
    font-size: $font-size-large;
    color: $cl-orange;
    margin-bottom: 40px;
  }

  &__feild {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__input-feild {
    display: flex;
    align-items: center;

    label {
      margin-right: 14px;
      margin-bottom: 0;
    }

    input[type='text'] {
      height: 25px;
      width: 45px;
      border: none;
      background-color: $cl-gray;
      padding: 0 8px;
    }

    @include breakpoint-down('desktop') {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

.sizes-filter {
  padding: 40px;
  background-color: $cl-white;
  margin-bottom: 30px;

  &__title {
    font-size: $font-size-large;
    color: $cl-orange;
    margin-bottom: 40px;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }
}

.brands-filter {
  padding: 40px;
  background-color: $cl-white;
  margin-bottom: 30px;

  &__title {
    font-size: $font-size-large;
    color: $cl-orange;
    margin-bottom: 40px;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }
}
// custom bootstrap slider
.slider {
  &.slider-horizontal {
    width: 100%;

    .slider-track {
      height: 3px;
      box-shadow: none;
    }

    .slider-selection {
      box-shadow: inset 0 3px 0 $cl-black;
    }
  }
}

.slider-handle {
  width: 11px;
  height: 11px;
  background-color: $cl-black;
  background-image: none;
}
