// ======================================================
// Pages :: user team
// ======================================================
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 8px;
}
.breadcrumb-item {
  &.active {
    a {
      color: $cl-gray;
    }
  }
  a {
    border-radius: 1px;
    &:focus {
      color: #2e609c;
      background-color: rgba(52, 108, 176, .08);
      box-shadow:
        0 0 0 4px rgba(52, 108, 176, .08),
        0 0 0 5px rgba(246, 247, 249, .5);
      outline: 0;
    }
  }
  a > i {
    margin-right: 8px;
  }
}

.page-inner {
  &__title {
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: $font-weight-bold;
  }
  &__totals {
    font-size: $font-size-base;
    color: $cl-gray;
    margin-left: 13px;
    font-weight: $font-weight-bold;
  }
}
.user-team {
  border: none;
  box-shadow:
    0 0 0 1px rgba(20, 20, 31, .05),
    0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  .card-body {
    padding: 16px;
  }
  &__media {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  &__avatar {
    margin-right: 16px;
    .user-avatar {
      &:focus {
        box-shadow: 0 0 0 3px $bg-dark-blue;
        outline: 0;
      }
    }
    .tile--teal {
      &:hover {
        background-color: $cl-xdark-green;
        color: $cl-white;
      }
    }
  }
  &__media-body {
    flex: 1;
    .card-title {
      margin-bottom: 16px;
      line-height: 1.2;
      font-size: $font-size-medium;
    }
    .card-title a {
      margin-bottom: 8px;
      color: inherit;
      font-weight: $font-weight-bold;
    }
    .card-subtitle {
      color: $cl-gray;
      font-size: $font-size-small;
      font-weight: $font-weight-base;
      margin-top: -12px;
    }
  }
  &__chat {
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    border-radius: 50%;
    &:hover {
      background-color: $cl-light-gray;
      color: $cl-dark-gray;
      border-color: $cl-light-gray;
      box-shadow: none;
    }
    &:focus {
      background-color: $cl-light-gray;
      color: $cl-dark-gray;
      border-color: $cl-light-gray;
      box-shadow: none;
    }
  }
  .rating {
    margin-bottom: 16px;
  }
  &__info {
    li {
      &:first-child {
        margin-bottom: 4px;
      }
    }
    li span {
      &:first-child {
        width: 1rem;
        font-size: 1em;
        text-align: center;
        margin-right: 8px;
      }
    }
  }
  .card-footer {
    background-color: transparent;
    display: flex;
    padding: 0;
  }
  &__item {
    color: $cl-gray;
    padding: 16px;
    flex: 1;
    text-align: center;
    outline: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(20, 20, 31, .12);

    &:last-child {
      border-right: 0;
    }

    &:hover {
      color: $bg-light-black;
    }

    &:focus {
      color: $bg-light-black;
    }
  }
}
.avatar-team {
  .user-avatar {
    box-shadow: 0 0 0 2px $cl-white;
    margin-left: 3px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      z-index: 4;
    }

    &:focus {
      box-shadow: 0 0 0 3px $bg-dark-blue;
      z-index: 4;
    }
  }
  .user-avatar + .user-avatar {
    display: inline-block;
    margin-left: -12px;
  }
  .tile {
    color: $cl-gray;
    background-color: #d7dae2;
    margin-left: 4px;
    &:hover {
      color: $cl-dark-gray;
    }
    &:focus {
      color: $cl-dark-gray;
    }
  }
}
