// ======================================================
// Pages :: user profile
// ======================================================
.page-cover {
  position: relative;
  padding: 32px 32px 16px 32px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  background-color: $cl-light-gray;
  box-shadow: 0 1px 0 rgba(34, 34, 48, .1);
  &__content {
    text-align: center;
    .user-avatar {
      &:focus {
        box-shadow: 0 0 0 3px $cl-dark-blue;
        outline: none;
      }
    }
  }
  &__heading {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: 1.2;
  }
  &__controls {
    position: absolute;
    right: 16px;
    bottom: 8px;
    .button {
      margin-right: 4px;
      &:last-of-type {
        margin-right: 0;
      }

      @include breakpoint-down(tablet) {
        flex: 1;
        text-align: center;
        margin-right: 4px;
      }

      @include breakpoint-down(phone) {
        font-size: $font-size-medium;
      }
    }

    @include breakpoint-down(tablet) {
      display: flex;
      position: relative;
      right: 0;
      bottom: 0;
    }
  }

  @include breakpoint-down(tablet) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.rating {
  margin: 4px 0;
  color: $cl-orange;
  i {
    margin-right: 4px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &--sm {
    font-size: $font-size-medium;
  }
}
.page-navs {
  padding: 0 32px;
  height: 56px;
  background: $cl-white;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 rgba(34, 34, 48, .1);
  z-index: 5;
  position: relative;
  &__inner {
    flex-grow: 1;
    position: relative;
    z-index: 2;
    overflow-y: hidden;
    height: 56px;
    .nav {
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      flex-wrap: nowrap;
      display: flex;
      justify-content: center;

      @include breakpoint-down(tablet) {
        border: 0;
      }

      @include breakpoint-down(smallphone) {
        justify-content: flex-start;
      }
    }
    .nav-link {
      display: inline-block;
      padding: 16px;
      border: 1px solid transparent;
      border-width: 0 0 3px;
      outline: 0;
      color: $cl-gray;
      transition: all .2s;
      margin-right: 4px;
      &:last-of-type {
        margin-right: 0;
      }
      .badge {
        margin-left: 4px;
        padding: 4px 6px;
      }
      &:hover {
        color: $bg-light-black;
        border-color: $cl-light-gray $cl-light-gray rgba(34, 34, 48, .1);
      }
      &:focus {
        color: $bg-light-black;
        border-color: $cl-light-gray $cl-light-gray rgba(34, 34, 48, .1);
      }
      &.active {
        color: $bg-light-black;
        background-color: transparent;
        border-color: $cl-dark-blue;
      }

      @include breakpoint-down(phone) {
        height: 56px;
      }
    }
    .active {
      .badge {
        display: none;
      }
    }
  }


  @include breakpoint-down(tablet) {
    padding: 0 16px;
  }
}
.page-inner {
  padding: 24px 32px;

  @include breakpoint-down(tablet) {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.metrics {
  margin-top: 16px;
  margin-bottom: 20px;
}
.metric {
  margin: 8px 0;
  min-height: 136px;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-width: 100%;
  border-radius: 4px;
  text-align: center;
  background-color: $cl-white;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  &__value {
    white-space: nowrap;
    line-height: 1.1;
  }
  &__icon {
    color: $cl-xlight-gray;
    font-size: $font-size-base;
    position: relative;
    bottom: 2px;
    margin-right: 7px;
  }
  &__number {
    font-size: 28px;
    white-space: nowrap;
    font-weight: $font-weight-bold;
  }
  &__label {
    font-size: $font-size-base;
    font-weight: 500;
    color: $cl-gray;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 7px;
  }
}
.achievement {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__title {
    margin-bottom: 0;
    padding: 16px 0;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
  }
}
.achievement-chart {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
  .card-body {
    padding: 16px;
  }
  &__legend {
    font-size: 80%;
    font-weight: $font-weight-base;
    margin-bottom: 16px;
    i {
      margin-right: 3px;
    }
  }
  &__content {
    height: 253px;
    canvas {
      padding-right: 7px;
    }

    @include breakpoint-down(tablet) {
      height: auto;
    }
  }
}
.overview {
  $overview: &;

  border: none;
  box-shadow:
    0 0 0 1px rgba(20, 20, 31, .05),
    0 1px 3px 0 rgba(20, 20, 31, .15);
  margin-bottom: 20px;
  .card-header {
    font-weight: $font-weight-bold;
    padding: 16px;
    background-color: transparent;
  }
  .card-body {
    padding: 0;
  }
  .list-group-item {
    padding: 16px;
  }
  .list-group-item:first-of-type {
    #{$overview}__item {
      &:first-of-type {
        margin-bottom: 16px;
      }
    }
  }
  .list-group-item:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: $font-weight-bold;
  }
  &__name {
    font-weight: $font-weight-bold;
    white-space: nowrap;
  }
  &__value {
    white-space: nowrap;
  }
  &__currency {
    font-size: 80%;
    font-weight: $font-weight-base;
    color: $cl-gray;
    margin-left: 4px;
  }
}
.summary {
  font-weight: $font-weight-bold;
  &__value {
    margin: 12px 0 11px 0;
    text-align: center;
  }
  &__matric {
    font-size: 28px;
  }
  &__currency {
    color: $cl-gray;
    font-weight: $font-weight-base;
    margin-left: 4px;
  }
}
.percent {
  font-size: 80%;
  font-weight: $font-weight-base;
  white-space: nowrap;
  margin-left: 12px;
  &--incre {
    color: $cl-green;
    &:before {
      content: '\f0d8';
      font-family: $font-family-awesome;
      font-weight: 900;
      margin-right: 3px;
    }
  }
  &--desc {
    color: $bg-light-purple;
    &:before {
      content: '\f0d7';
      font-family: $font-family-awesome;
      font-weight: 900;
      margin-right: 3px;
    }
  }
}

.project {
  border: none;
  margin-bottom: 20px;
  box-shadow:
    0 0 0 1px rgba(20, 20, 31, .05),
    0 1px 3px 0 rgba(20, 20, 31, .15);
  .card-header {
    padding: 8px 16px;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $cl-white;
    border-bottom: 0;
  }
  .card-body {
    padding: 0;
  }
  .card-footer {
    padding: 0;
    background-color: $cl-white;
    a {
      display: block;
      text-align: center;
      padding: 16px;
      color: $cl-dark-blue;
      &:hover {
        color: $cl-xxdark-blue;
      }
    }
    a > i {
      margin-left: 4px;
    }
  }
  .table {
    margin-bottom: 0;
  }
  .table thead th {
    border-top: 0;
    border-bottom: 0;
  }
  .table th {
    &:first-child {
      min-width: 260px;
      padding-left: 16px;
    }
    &:last-child {
      min-width: 142px;
      padding-right: 16px;
      text-align: right;
    }
  }
  .table td {
    vertical-align: middle;

    &:first-child {
      min-width: 260px;
      padding-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
    }
  }
  &__name {
    color: $cl-dark-blue;
    text-decoration: none;
    margin-left: 12px;
    &:hover {
      color: $cl-xxdark-blue;
      text-decoration: underline;
    }
  }
}
.project .tile {
  &--blue {
    &:hover {
      background-color: #015475;
      color: $cl-xdark-gray;
    }
  }
  &--teal {
    &:hover {
      background-color: $cl-xdark-green;
      color: $cl-xdark-gray;
    }
  }
  &--pink {
    &:hover {
      background-color: $cl-dark-purple;
      color: $cl-xdark-gray;
    }
  }
  &--green {
    &:hover {
      background-color: $cl-xlight-green;
      color: $cl-xdark-gray;
    }
  }
  &--red {
    &:hover {
      background-color: $cl-dark-red;
      color: $cl-xdark-gray;
    }
  }
}

.task {
  margin-bottom: 20px;
  border: none;
  box-shadow:
    0 0 0 1px rgba(20, 20, 31, .05),
    0 1px 3px 0 rgba(20, 20, 31, .15);
  .card-header {
    padding: 8px 16px;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $cl-white;
    border-bottom: 0;
  }
  .card-body {
    padding: 0;
  }
  .card-footer {
    padding: 0;
    background-color: $cl-white;
    a {
      display: block;
      text-align: center;
      padding: 16px;
      color: $cl-dark-blue;
      &:hover {
        color: $cl-xxdark-blue;
      }
    }
    a > i {
      margin-left: 4px;
    }
  }
  .table {
    margin-bottom: 0;
  }
  .table thead th {
    border-top: 0;
    border-bottom: 0;
  }
  .table th {

    &:first-child {
      min-width: 259px;
      padding-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
      text-align: right;
    }
  }
  .table td {
    vertical-align: middle;
    &:first-child {
      min-width: 259px;
      padding-left: 16px;
    }

    &:last-child {
      padding-right: 16px;
    }
  }
  &__name {
    color: $cl-dark-blue;
    text-decoration: none;
    margin-left: 8px;
    &:hover {
      color: $cl-xxdark-blue;
      text-decoration: underline;
    }
  }
}
.task .tile {
  &--blue {
    &:hover {
      background-color: #015475;
      color: $cl-xdark-gray;
    }
  }
  &--teal {
    &:hover {
      background-color: $cl-xdark-green;
      color: $cl-xdark-gray;
    }
  }
  &--indigo {
    &:hover {
      background-color: #285489;
      color: $cl-xdark-gray;
    }
  }
  &--yellow {
    &:hover {
      background-color: $cl-dark-orange;
      color: $cl-xdark-gray;
    }
  }
  &--pink {
    &:hover {
      background-color: $cl-dark-purple;
      color: $cl-xdark-gray;
    }
  }
  &--green {
    &:hover {
      background-color: $cl-xlight-green;
      color: $cl-xdark-gray;
    }
  }
  &--red {
    &:hover {
      background-color: $cl-dark-red;
      color: $cl-xdark-gray;
    }
  }
}
