
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap';
@import 'ionicons/css/ionicons';

@import 'extentions/fontawesome/fontawesome';

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';

@import 'base/global';
@import 'base/colors';
@import 'base/images';
@import 'base/fonts';

// 5. Components
// -------------

// 4. Layout
// ---------
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';

// 6. Pages
// --------
@import 'pages/home';
@import 'pages/SP-02-product-show';

// 7. Themes
// ---------
// We just have only 1 theme in this project
