// ======================================================
// Components :: Badge
// ======================================================
.badge {
  font-size: 80%;
  &--danger {
    color: $cl-white;
    background-color: $cl-purple;
  }
}

