// ======================================================
// Components :: Badge
// ======================================================

.badge {
  padding: 4px 6px;
  font-size: 80%;

  &--danger {
    color: $cl-white;
    background-color: $cl-purple;
  }

  &--warning {
    color: $bg-dark-gray;
    background-color: $cl-orange;
  }

  &--success {
    color: $cl-dark-green;
    background-color: rgba(0, 162, 138, .08);
  }

  &--teal {
    color: $cl-white;
    background-color: $cl-green;
  }

  &--pink {
    color: $cl-white;
    background-color: $cl-purple;
  }

  &--green {
    color: $cl-white;
    background-color: $cl-light-green;
  }

  &--red {
    color: $cl-white;
    background-color: $cl-light-red;
  }

  &--blue {
    color: $cl-white;
    background-color: $cl-light-blue;
  }

  &--lg {
    padding: 6px 8px;
  }
}
