// ======================================================
// Components :: Button
// ======================================================
.button {
  $button: &;

  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: 40px;
  height: 40px;
  border-radius: $border-radius-small;
  padding: 0 20px;
  min-width: 140px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &--primary {
    background-color: $cl-orange;
    color: $cl-white;
    box-shadow: 0 2px 10px 0 $bsh-primary;
    &:hover {
      background-color: darken($cl-orange, 5%);
      color: $cl-white;
    }
    &#{$button}--disabled {
      &:hover {
        background-color: $cl-orange;
        color: $cl-white;
      }
    }
  }
  &--secondary {
    background-color: $cl-light-gray;
    color: $cl-white;
    box-shadow: 0 2px 10px 0 $bsh-secondary;
    &:hover {
      background-color: $cl-dark-gray;
      color: $cl-white;
    }
    &#{$button}--disabled {
      &:hover {
        background-color: $cl-light-gray;
        color: $cl-white;
      }
    }
  }
  &--olight {
    background-color: $cl-white;
    color: $cl-orange;
    border: 1px solid $cl-orange;
    &:hover {
      border-color: darken($cl-orange, 5%);
      color: darken($cl-orange, 5%);
    }
    &#{$button}--disabled {
      &:hover {
        border: 1px solid $cl-orange;
        color: $cl-orange;
      }
    }
  }
  &--blight {
    background-color: $cl-white;
    color: $cl-dark-gray;
    border: 1px solid $cl-light-gray;
    font-weight: $font-weight-base;
    &:hover {
      border-color: $cl-dark-gray;
    }
    &#{$button}--disabled {
      &:hover {
        border: 1px solid $cl-light-gray;
      }
    }
  }
  &--disabled {
    opacity: .4;
  }
  &--xsmall {
    padding: 0 25px;
    height: 24px;
    line-height: 22px;
    font-size: 11px;
    font-weight: $font-weight-xbase;
  }
  &--small {
    padding: 0 25px;
    height: 32px;
    line-height: 30px;
    font-size: 11px;
    font-weight: $font-weight-xbase;
  }
  &--large {
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }
  &__icon {
    color: inherit;
    font-size: 14px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1.75px;
  }
  &--full {
    display: block;
    width: 100%;
  }
}
