// ======================================================
// Components :: Following Modal
// ======================================================
.following {
  $following : &;

  .modal-header {
    box-shadow: none;
    border-bottom: 0;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 700;
  }
  .modal-body {
    padding: 2px 0;
    overflow-y: auto;
  }
  .list-group-item {
    display: flex;
    align-items: stretch;
    padding: 0;
    border: none;
  }
  .list-group-item:first-child() {
    #{$following}__content {
      border-top: 0;
    }
    #{$following}__state {
      border-top: 0;
    }
  }
  &__figure {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    .user-avatar {
      &:focus {
        box-shadow: 0 0 0 3px #346cb0;
      }
    }
  }
  &__content {
    padding: 12px 0;
    flex: 1;
    align-self: center;
    border-top: 1px solid #ecedf1;
    p {
      margin-bottom: 0;
      line-height: 20px;
      color: #888c9b;
    }
  }
  &__title {
    margin: 0;
    line-height: 20px;
    font-weight: 400;
    a {
      color: #363642;
    }
  }
  &__state {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ecedf1;
    .button {
      font-size: 13px;
    }
  }
  &__spinner {
    text-align: center;
    padding: 16px;
  }
}

