// ======================================================
// Components :: Selectbox
// ======================================================
// .form-customize {
//   .custom-select {
//     border-radius: 0;
//     padding: 8px 25px 8px 16px;
//     line-height: 17px;
//     border: 1px solid $cl-xlight-gray;
//     color: $cl-dark-gray;
//     margin-bottom: 8px;
//     font-size: $font-size-base;
//     height: 40px;
//     &:focus {
//       border-color: $cl-white;
//       box-shadow: 0 0 10px 0 $bsh-secondary;
//     }
//     &--disabled {
//       opacity: .7;
//     }
//   }
//   &.form-error {
//     .custom-select {
//       border: 1px solid $cl-red;
//     }
//   }
// }
