// ======================================================
// Components :: Selectbox
// ======================================================
.form-customize {
  &--nesting {
    position: relative;

    & > label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 4px 0 4px 13px;
      font-size: 12px;
      color: $cl-gray;
      display: block;
    }

    .custom-select {
      padding-top: 20px;
      padding-bottom: 4px;
      height: auto;
    }
  }
}

.custom-select {
  height: 36px;
  font-size: 14px;
  transition: all .2s ease-in-out;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='14' fill='%23888c9b' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19L403 749q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z'/%3E%3C/svg%3E") no-repeat right .75rem center, linear-gradient(180deg, $cl-white, #f6f7f9);

  &:focus {
    border-color: $cl-dark-blue;
    outline: 0;
    box-shadow: 0 0 0 1px $cl-dark-blue;
  }

  &--disabled {
    color: $cl-gray;
    background-color: $cl-light-gray;
  }

  &--valid {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='14' fill='%23888c9b' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19L403 749q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z'/%3E%3C/svg%3E") no-repeat right .75rem center, url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2300A28A' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem), linear-gradient(180deg, $cl-white, #f6f7f9);
    border-color: $cl-green;

    &:focus {
      box-shadow: 0 0 0 1px $cl-green;
      border-color: $cl-green;
    }
  }

  &--invalid {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='14' fill='%23888c9b' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19L403 749q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z'/%3E%3C/svg%3E") no-repeat right .75rem center, url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23B76BA3' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23B76BA3' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem), linear-gradient(180deg, $cl-white, #f6f7f9);
    border-color: $cl-purple;

    &:focus {
      box-shadow: 0 0 0 1px $cl-purple;
      border-color: $cl-purple;
    }
  }

  &--small {
    height: 29px;
    font-size: 13px;
    line-height: 1;
  }

  &--large {
    height: 46px;
    font-size: 16px;
  }
}
