// ======================================================
// Components :: Textarea
// ======================================================
.form-textarea {
  .form-control {
    border: 1px solid $cl-xlight-gray;
    border-radius: 2px;
    &::placeholder {
      color: darken($cl-xlight-gray, 25%);
    }
    &:focus {
      border-color: $cl-white;
      box-shadow: 0 0 10px 0 $bsh-secondary;
    }
  }
}
