// ======================================================
// Base :: Tile
// ======================================================
.tile {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #e6e8ed;
  color: $cl-white;
  transition: background-color .3s;
  text-transform: uppercase;
  text-align: center;

  &--sm {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
  }

  &--md {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  &--lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    border-radius: 5px;
  }

  &--circle {
    border-radius: 50%;
  }

  &--purple {
    color: $cl-white;
    background-color: $bg-dark-purple;
  }

  &--green {
    color: $cl-dark-gray;
    background-color: $bg-light-green;
  }

  &--indigo {
    color: $cl-white;
    background-color: $cl-dark-blue;
  }

  &--yellow {
    color: $cl-dark-gray;
    background-color: $bg-yellow;
  }

  &--blue {
    color: $cl-white;
    background-color: $bg-blue;
  }

  &--teal {
    color: $cl-white;
    background-color: $cl-green;
  }

  &--pink {
    color: $cl-white;
    background-color: $bg-light-purple;
  }

  &--cyan {
    color: $cl-white;
    background-color: $bg-cyan;
  }

  &--red {
    color: $cl-white;
    background-color: $bg-light-red;
  }

  &--orange {
    color: $cl-dark-gray;
    background-color: #ec935e;
  }
}

.avatar-group {
  .tile {
    &--indigo {
      &:hover {
        background-color: #285489;
        color: $cl-white;
      }
    }

    &--purple {
      &:hover {
        background-color: #48396a;
        color: $cl-white;
      }
    }

    &--yellow {
      &:hover {
        background-color: #f4b13c;
        color: $cl-dark-gray;
      }
    }

    &--blue {
      &:hover {
        background-color: #015475;
        color: $cl-white;
      }
    }

    &--teal {
      &:hover {
        background-color: #006f5f;
        color: $cl-white;
      }
    }

    &--pink {
      &:hover {
        background-color: #a14e8b;
        color: $cl-white;
      }
    }

    &--green {
      &:hover {
        background-color: #8bb575;
        color: $cl-dark-gray;
      }
    }

    &--red {
      &:hover {
        background-color: #e43e2c;
        color: $cl-white;
      }
    }

    &--orange {
      &:hover {
        background-color: #e77430;
        color: $cl-dark-gray;
      }
    }
  }
}
