// ======================================================
// Base :: Tile
// ======================================================
.tile {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #e6e8ed;
  color: $cl-white;
  transition: background-color .3s;
  text-transform: uppercase;
  text-align: center;
  &--sm {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
  }
  &--md {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  &--lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    border-radius: 5px;
  }
  &--circle {
    border-radius: 50%;
  }
  &--purple {
    color: #fff;
    background-color: #5f4b8b;
  }
  &--green {
    color: #363642;
    background-color: #a7c796;
  }
  &--indigo {
    color: #fff;
    background-color: #346cb0;
  }
  &--yellow {
    color: #363642;
    background-color: #f7c46c;
  }
  &--blue {
    color: #fff;
    background-color: #0179a8;
  }
  &--teal {
    color: #fff;
    background-color: #00a28a;
  }
  &--pink {
    color: #fff;
    background-color: #b76ba3;
  }
  &--cyan {
    color: #fff;
    background-color: #3686a0;
  }
  &--red {
    color: #fff;
    background-color: #ea6759;
  }
  &--orange {
    color: #363642;
    background-color: #ec935e;
  }
}
.avatar-group {
  .tile {
    &--indigo {
      &:hover {
        background-color: #285489;
        color: #fff;
      }
    }
    &--purple {
      &:hover {
        background-color: #48396a;
        color: #fff;
      }
    }
    &--yellow {
      &:hover {
        background-color: #f4b13c;
        color: #363642;
      }
    }
    &--blue {
      &:hover {
        background-color: #015475;
        color: #fff;
      }
    }
    &--teal {
      &:hover {
        background-color: #006f5f;
        color: #fff;
      }
    }
    &--pink {
      &:hover {
        background-color: #a14e8b;
        color: #fff;
      }
    }
    &--green {
      &:hover {
        background-color: #8bb575;
        color: #363642;
      }
    }
    &--red {
      &:hover {
        background-color: #e43e2c;
        color: #fff;
      }
    }
    &--orange {
      &:hover {
        background-color: #e77430;
        color: #363642;
      }
    }
  }
}
